<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">PolicyMarket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="!isAdmin">
                    <a class="nav-link" routerLink="dashboardroute">Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin">
                    <a class="nav-link" routerLink="cartroute">Cart</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <a class="nav-link" routerLink="allpolicies">All Policies
                    </a>
                </li>
                <li>
                    <!-- <div class="icon" id="bell"> <img src="https://i.imgur.com/AC7dgLA.png" alt=""> </div>
                    <div class="notifications" id="box">
                        <h2>Notifications - <span>2</span></h2>
                        <div class="notifications-item"> <img src="https://i.imgur.com/uIgDDDd.jpg" alt="img">
                            <div class="text">
                                <h4>Samso aliao</h4>
                                <p>Samso Nagaro Like your home work</p>
                            </div>
                        </div>
                        <div class="notifications-item"> <img
                                src="https://img.icons8.com/flat_round/64/000000/vote-badge.png" alt="img">
                            <div class="text">
                                <h4>John Silvester</h4>
                                <p>+20 vista badge earned</p>
                            </div>
                        </div>
                    </div> -->
                </li>
                <li>
                    <a class="nav-link logout" (click)="onLogout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-termsconditionspopup> </app-termsconditionspopup>
<router-outlet></router-outlet>
