<ng-template #termsconditions let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Terms & Conditions</h4>
    </div>
    <div class="modal-body">
        <p>Online Grammar and Writing Checker To Help You Deliver Impeccable, Mistake-free Writing. Grammarly Has a Tool
            For Just About Every Kind Of Writing You Do. Try It Out For Yourself! Improve Word Choice. Fix Punctuation
            Errors. Easily Improve Any Text. AI Writing Assistant.
            Get Help With Citations
            See where you need a citations. Get help with formatting.
            Plagiarism Detection
            Compare text to billions of web pages and major content databases.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.dismiss('Cross click')">Continue</button>
    </div>
</ng-template>