<ng-template #termsconditions let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
            <p>The objective of the insurance broker’s activity is to give the Client an overview of insurance
                products and services available on the insurance market; to provide insurance contracts based on an
                independent analysis; to recommend the Client an insurance contract that complies with the
                insurable interests and requirements thereof; to advise the Client in other matters related to the
                insurance contract; and to advice the Client in case of an insured event. The insurance broker acts in
                the interest of the policyholder. The Broker is active in insurance brokerage pursuant to the
                Insurance Activities Act.
            </p>
            <p>Independence of the insurance broker means that upon providing the insurance brokerage service,
                the Broker acts as an independent insurance professional in the interest of owners, users and
                possessors of assets and other objects and of policyholders, and upon mediating insurance contracts,
                the Broker cooperates with insurance undertakings only to the extent necessary to provide an
                insurance mediation service.
            </p>
            <p>A Client’s interest means the Client’s insurable interest to insure assets, another object or
                themselves with an insurance contract against certain risks; the interest to determine the best means
                for mitigating risks; as well as the Client’s interest to use other services provided by an insurance
                broker.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">I Agree</button>
        </div>
</div>
</ng-template>