<div class="container">
    <h3>Manage Policy </h3>
    <hr>
<br><br>
<input class="form-control" style="width: 30em;" (keyup)="policySearch($event)" type="text" placeholder="Search..">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Grade</th>
                <th>Status</th>
                <th class="w-25 p-3">
                    <input type="button" class="btn btn-success" routerLink="/addnewpolicy" value="Add new">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let policy of policies" [ngClass]="{selected: policy.pstatus=='Inactive'}">
                <td>{{policy.pid}}</td>
                <td>{{policy.pname}}</td>
                <td>{{policy.ptype}}</td>
                <td>{{policy.pgrade}}</td>
                <td>{{policy.pstatus}}</td>
                <td>
                    <a type="button" class="btn btn-warning" [routerLink]="['/editpolicy',policy.pid]">Edit</a>&nbsp;
                    <input type="button" class="btn btn-danger" value="Delete" (click)="OnDeleteClick(content,policy.pid)">
                </td>
            </tr>
            <tr *ngIf="policies.length == 0">No policy found.</tr>
        </tbody>
    </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header">    
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
            <span aria-hidden="true">×</span>    
        </button>    
    </div>    
    <div class="modal-body">    
        <p>Are you sure to delete this?</p>    
    </div>    
    <div class="modal-footer">    
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>    
        <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>    
    </div>    
</ng-template> 